* {
  box-sizing: border-box;
  border: none;
}

a {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 2%;
  padding: 0px;

  font-family:Arial, Verdana, sans-serif;
}

em {
  font-style: normal;
  font-weight: 600;
  color: rgb(80, 150, 220);
}

footer {
  padding: 20px;

  background-color: rgb(80, 150, 220);
  color: white;
  text-align: center;
}

footer>a:link {
  color: white;
}

header {
  color:white;
  font-size:xx-large;
  font-weight:bold;
  background-color: rgb(80, 150, 220);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.8em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin: 0px;
  width: 100%;
}

header>h1 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

nav {
  padding: 0px;
  margin: 0px;
}

nav>ul>a:link {
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

nav>ul>a:visited {
  font-weight: bold;
  color: black;
}

nav>ul>a>li {
  padding: 10px;
  padding-left: 20px;
}

nav>ul>a>li:hover {
  background-color: rgb(250, 250, 250);
}

p {
  margin: 0px;
  padding: 0px;
  border: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.headerelement {
  display: inline-block;
}

.important {
  font-weight: bold;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: red;
}

.infolink {
  color: rgb(80, 150, 220);
}

.middle {
  display: table-cell;
  margin: 0px;
  padding: 0px;
  border: none;
  min-height: 100%;
}

.sidebar {
  display: block;
  margin-top: 20px;
}

.smalltitle {
  font-weight: bold;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

#calendar {
  width: 100%;
  background-color: white;
  color: black;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
}

#contact {
  padding-bottom: 10px;
}

#content {
  width: 70%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 20px;
}

#content>p {
  line-height: 1.5;
}

#headerlogo {

}

#info {
  width:15%;
  padding-left: 20px;
  padding-right: 20px;

  background-color: rgb(237, 237, 237);
}

#info::after {
 content: "";
 display: block;
 clear: both;
}

#info>ul {
  padding: 0px;
  margin: 0px;
}

#info>section>ul>a>li {
  padding-bottom: 10px;
}

#main {
  width: 100%;
  display: table;
  margin: 0px;
  padding: 0px;
  min-height: 800px;
}

#menu {
  width:15%;

  background-color: rgb(237, 237, 237);
}
